@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%; 
    background: linear-gradient(90deg, rgba(5,5,143,1) 35%, rgba(31,176,205,1) 100%);
}




 
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

}

.imagem-topo {
    height: 72px;
}

.menu-topo {
    display: flex;
    gap: 30px;
}

.sub-menu-topo {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7 ;
    font-weight: 400;
    font-size: 18px;
}






.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;

}

.principal {
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.divisao-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.titulo-principal {
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 64px;
    

}

.subtitulo-principal {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 24px;
    

}

.botao-principal {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    font-weight: 400;
    font-size: 24px;

}

.botao-principal: hover {
    background-color: rgba(236,214,196,0.53);
}

.imagem-principal {
    height: 430px;
    width: 395px;
    position: relative;
    top: 30px;
    border-radius: 50%;


}



.secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}


.titulo-secundario {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 40px;
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;

}


.paragrafos-secundario {
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 300;
    font-size: 16px;
}





.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}


.imagem-rodape {
    height: 48px;
    display: block;
    margin: 0 auto;
}


